<div class="container">
    <h1>
        Territory #{{vm.territory.num}}
        <br>
        {{vm.territory.type.unit}}:{{vm.unit}}
    </h1>
    <div class="row">
        <div class="col-xs-12">
            <span class="col-xs-4">
                Description: 
            </span>
            <span class="col-xs-8">
                {{vm.territory.description}}
            </span>
            <span class="col-xs-4">
                Type:    
            </span>
            <span class="col-xs-8">
                {{vm.territory.type.value}}
            </span>
            <span class="col-xs-4">
                {{vm.territory.type.unit}}: 
            </span>
            <span class="col-xs-8">
                {{vm.unit}}
            </span>
            <span class="col-xs-4">
                Status: 
            </span>
            <span class="col-xs-8" style="color:red">
                {{vm.territory.status}}
            </span>
        </div>
    </div>
    <div class="row">
        <td class="col-xs-4">
            <button ng-click="vm.goToDetail(vm.territory)" class="btn btn-default btn-raised">Territory #{{vm.territory.num}}</button>
            <button ng-click="vm.goToList()" class="btn btn-default btn-raised">Territory List</button>
        </td>
    </div>
    <div class="well row">
        Addresses:<br>
        <div class="col-xs-12" ng-repeat="address in vm.visableAddresses">
            {{address.num}} {{address.street}} 
            <div ng-if="address != vm.selectedAddress"> 
                Last visit:</br>
                    </br>CheckOut Id: {{address.lastVisit.checkOutId}}
                    </br>Visit Date: {{address.lastVisit.date | date:'medium'}}
                    </br>State: {{address.lastVisit.state}}
                    </br>Language: {{address.lastVisit.language}}
                    </br>Notes : {{address.lastVisit.notes}}
            </div>
            <button ng-click="vm.selectedAddress = address">Add Visit</button>
            <div ng-if="vm.selectedAddress === address">
                <select ng-model="address.lastVisit.state" ng-options="item as item for item in vm.visitStates"></select>
                <select ng-model="address.lastVisit.language" ng-options="item as item for item in vm.languages"></select>
                <textarea ng-model="address.lastVisit.notes"></textarea>
                <button class="btn btn-default" ng-click="vm.saveVisit(address, address.lastVisit, vm.checkOutId)">Save Visit</button>
            </div>
            <hr><br>
        </div>
    </div>
    <div class="well row">
        Add Address<br>
        <div class="col-xs-2">
            Num: <input type="input" ng-model="vm.newAddress.num">
        </div>
        <div class="col-xs-2">
            Street: <input type="input" ng-model="vm.newAddress.street">
        </div>
        <div class="col-xs-2">
            Territory: <input type="input" ng-model="vm.newAddress.territoryNum">
        </div>
        <div class="col-xs-2">
            {{vm.territory.type.unit}}: <input type="input" ng-model="vm.newAddress.unit">
        </div>
        
        <div class="col-xs-12 panel">
            <pre>{{vm.newAddress | json }}<pre>
        </div>
        <div class="row">
            <td class="col-xs-12">
                <button ng-click="vm.saveAddress(vm.newAddress, vm.addresses)" class="btn btn-primary btn-raised">Add Address</button>
            </td>
        </div>
    </div>
    
</div>