<div class="container">
    <h1>Territory Detail Page</h1>
    <div class="list-group">
        <div class="col-xs-12">
            <div class="list-group-item well">
                <div class="row-content">
                    <h4 class="list-group-item-heading">
                            Territory #{{vm.territory.num}}
                        </h4>

                    <p class="list-group-item-text">
                        <span class="col-xs-6">{{vm.territory.description}}</span>
                        <span class="col-xs-6">{{vm.territory.status}}</span>
                        <span class="col-xs-6">{{vm.territory.type.unit}}</span>
                        <span class="col-xs-6">    
                            <select ng-model="vm.territory.type" ng-options="item as item.label for item in vm.territoryTypes track by item.value"></select>
                        </span>
                    </p>
                </div>
                <div class="row-picture pull-left">
                    <img class="circle pull-left" src="/src/client/images/mapIcon.png" alt="icon" ng-click="vm.goToDetail(territory.num)">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <td class="col-xs-4">
            <button ng-click="vm.goToList()" class="btn btn-default">Go To List</button>
        </td>
    </div>
    <div class="well row">
        Addresses<br>
        <div class="col-xs-6" ng-repeat="address in vm.visableAddresses | orderBy">
            {{address.num}} {{address.street}}
        </div>
    </div>
    <div class="well row">
        Add Address<br>
        <div class="col-xs-2">
            Num: <input type="input" ng-model="vm.newAddress.num">
        </div>
        <div class="col-xs-2">
            Street: <input type="input" ng-model="vm.newAddress.street">
        </div>
        <div class="col-xs-2">
            Territory: <input type="input" ng-model="vm.newAddress.territoryNum">
        </div>
        <div class="col-xs-2">
            {{vm.territory.type.unit}}: <input type="input" ng-model="vm.newAddress.unit">
        </div>
        
        <div class="col-xs-12 panel">
            <pre>{{vm.newAddress | json }}<pre>
        </div>
        <div class="row">
            <td class="col-xs-12">
                <button ng-click="vm.saveAddress(vm.newAddress)" class="btn btn-primary btn-raised">Add Address</button>
            </td>
        </div>
    </div>
    
</div>