<div class="container">
    <h1>
        Territory #{{vm.territory.num}}
    </h1>
    <div class="row">
        <div class="col-xs-12">
            <span class="col-xs-4">
                Description: 
            </span>
            <span class="col-xs-8">
                <input type="text" placeholder="Description" ng-model="vm.territory.description">
            </span>
            <span class="col-xs-4">
                Type:    
            </span>
            <span class="col-xs-8">
                <select ng-model="vm.territory.type"  ng-options="item as item.label for item in vm.territoryTypes track by item.value"></select>
            </span>
            <span class="col-xs-4">
                Units: 
            </span>
            <span class="col-xs-8">
                {{vm.territory.type.unit}}
            </span>
            <span class="col-xs-4">
                Status: 
            </span>
            <span class="col-xs-8" style="color:red">
                {{vm.territory.status}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <button ng-click="vm.save(vm.territory)" class="btn btn-primary btn-raised">Save</button>
        </div>
        <div class="col-xs-6">
            <button ng-click="vm.checkOut(vm.territory)" class="btn btn-small btn-default btn-raised">Check-out</button>
        </div>
        <div class="col-xs-6">
            <button ng-click="vm.state.isHistoryDisplayed = !vm.state.isHistoryDisplayed" class="btn btn-small btn-default btn-raised">History</button>
        </div>
        <div class="col-xs-6">
            <button ng-click="vm.goToList()" class="btn btn-default btn-raised">Territory List</button>
        </div>
    </div>
    <br>
    <div class="well well-sm" ng-repeat="checkout in vm.territory.checkouts | orderBy:'-dateOut'">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <label>ID</label>
                <br> {{checkout.id}}
            </div>
            <div class="col-xs-12 col-sm-3">
                <label>Publisher</label>
                <br> {{checkout.publisher}}
            </div>
            <div class="col-xs-6 col-sm-3">
                <label>Date Out</label>
                <br> {{checkout.dateOut | date:'medium' }}
            </div>
            <div class="col-xs-6 col-sm-3">
                <label>Date In</label>
                <br> {{checkout.dateIn | date:'medium' }}
            </div>
            <br>
        </div>
        <div class="row" ng-show="vm.checkout.is">
            <div class="col-sm-12 pull-right"> 
                <button ng-click="vm.checkIn(vm.territory, checkout)" class="btn btn-default btn-sm btn-raised">Check-In</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6" ng-repeat="unit in vm.territory.units" ng-click="vm.goToUnit(vm.territory.num, unit, checkout.id)">
                <div class="panel">
                    {{vm.territory.type.unit}} {{unit}}
                </div>
            </div>
        </div>

    </div>
</div>