<div class="container">
    <h1>Territory Detail Page</h1>
    <div class="list-group">
        <div class="col-xs-12">
            <div class="list-group-item well">
                <div class="row-content">
                    <h4 class="list-group-item-heading">
                            Territory #{{vm.territory.num}}
                        </h4>

                    <p class="list-group-item-text">
                        <span class="col-xs-6">{{vm.territory.description}}</span>
                        <span class="col-xs-6">{{vm.territory.status}}</span>
                        <span class="col-xs-6">{{vm.territory.type.unit}}</span>
                        <span class="col-xs-6">    
                            <select ng-model="vm.territory.type" ng-options="item as item.label for item in vm.territoryTypes track by item.value"></select>
                        </span>
                    </p>
                </div>
                <div class="row-picture pull-left">
                    <img class="circle pull-left" src="/src/client/images/mapIcon.png" alt="icon" ng-click="vm.goToDetail(territory.num)">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <td class="col-xs-4">
            <button ng-click="vm.save(vm.territory)" class="btn btn-primary btn-raised">Save</button>
        </td>
        <td class="col-xs-4">
            <button ng-click="vm.checkOut(vm.territory)" class="btn btn-small btn-default">Check-out</button>
        </td>
        <td class="col-xs-4">
            <button ng-click="vm.goToList()" class="btn btn-default">Go To List</button>
        </td>
    </div>
    <br>
    <div class="well well-sm" ng-repeat="checkout in vm.territory.checkouts | orderBy:'-dateOut'">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <label>ID</label>
                <br> {{checkout.id}}
            </div>
            <div class="col-xs-12 col-sm-3">
                <label>Publisher</label>
                <br> {{checkout.publisher}}
            </div>
            <div class="col-xs-6 col-sm-3">
                <label>Date Out</label>
                <br> {{checkout.dateOut | date:'medium' }}
            </div>
            <div class="col-xs-6 col-sm-3">
                <label>Date In</label>
                <br> {{checkout.dateIn | date:'medium' }}
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col-sm-12 pull-right">                
                <button ng-click="vm.checkIn(vm.territory, checkout)" class="btn btn-default btn-sm btn-raised">Check-In</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6" ng-repeat="unit in vm.territory.units" ng-click="vm.goToUnit(vm.territory.num, unit, checkout.id)">
                <div class="panel">
                    {{vm.territory.type.unit}} {{unit}}
                </div>
            </div>
        </div>

    </div>
</div>