<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="bs-component">
                <a href="javascript:void(0)" class="btn btn-raised btn-default" ng-repeat="type in vm.territoryTypes" ng-click="vm.filterTerritory(type.value)">
                {{type.label}}
                <div class="ripple-container"></div>
            </a>
            </div>
        </div>
    </div>
    <div class="list-group">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="territory in vm.filteredTerritories">
            <div class="list-group-item well">
                <div class="row-content">
                    <h4 class="list-group-item-heading">
                            Territory #{{territory.num}}
                        </h4>

                    <p class="list-group-item-text">
                        <span class="col-xs-12">Type: {{territory.type.label}}</span>
                        <span class="col-xs-12">Status: {{territory.status}}</span>
                        <span class="col-xs-12">Description: {{territory.description}}</span>
                    </p>
                </div>
                <div class="row-picture pull-left">
                    <img class="circle pull-left" src="/src/client/images/mapIcon.png" alt="icon" ng-click="vm.goToDetail(territory.num)">
                </div>
            </div>
            <div class="list-group-separator"></div>
        </div>
    </div>
</div>